<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>One hundred million, million poems</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div ng-controller="IndexController as Ctrl" lang="{{ Ctrl.activeLang }}">
    <header>
      <label ng-repeat="lang in Ctrl.langs" ng-class="Ctrl.isActiveLang(lang)">
        <input type="radio" name="activeLang" value="{{ lang }}" ng-model="Ctrl.activeLang" ng-selected="lang === Ctrl.activeLang"> {{ lang }}
      </label>

      |

      <a href="https://en.wikipedia.org/wiki/Hundred_Thousand_Billion_Poems">About</a>
    </header>

    <main>
      <h1>{{ Ctrl.title[Ctrl.activeLang] }}</h1>

      <ol>
        <li ng-repeat="line in Ctrl.lines">{{ line[Ctrl.activeLang] }}</li>
      </ol>
    </main>

    <footer>
      <p>A <a href="https://github.com/sccherry/queneau">project</a> by <a href="https://github.com/sccherry">Steve Cherry</a>.</p>
    </footer>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js" data-main="js/main"></script>
</body>
</html>
